<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "container">
		<%= link_to("AGY", "#", id: 'logo') %>
		<nav>
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to("Home", "#") %></li>
				<li><%= link_to("Experiences", "#") %></li>
				<li><%= link_to("Interests", "#") %></li>
				<li><%= link_to("Interests", "#") %></li>
				<li><%= link_to("Contact", "#") %></li>
			</ul>
		</nav>
	</div>
</header>